<!-- header section starts  -->

<header class="header">

    <nav class="navbar nav-1">
        <section class="flex">
            <a href="index.html" class="logo"><i class="fas fa-house"></i>HSL</a>

            <ul>
                <li><a href="post_property.html" style="border-radius: 10px;">Post Property<i class="fas fa-paper-plane"></i></a></li>
            </ul>
        </section>
    </nav>

    <nav class="navbar nav-2">
        <section class="flex">
            <div id="menu-btn" class="fas fa-bars"></div>

            <div class="menu">
                <ul>
                    <li><a href="#">My Listings<i class="fas fa-angle-down"></i></a>
                        <ul>
                            <li><a href="dashboard.html">Dashboard</a></li>
                            <li><a href="post_property.html">Post Property</a></li>
                            <li><a href="my_listings.html">My Listings</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Options<i class="fas fa-angle-down"></i></a>
                        <ul>
                            <li><a href="search.html">Filter Search</a></li>
                            <li><a href="listings.html">All Listings</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Help<i class="fas fa-angle-down"></i></a>
                        <ul>
                            <li><a href="about.html">About Us</a></i>
                            </li>
                            <li><a href="contact.html">Contact Us</a></i>
                            </li>
                            <li><a href="contact.html#faq">FAQ</a></i>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <ul>
                <li><a href="saved.html">Saved <i class="far fa-heart"></i></a></li>
                <li><a href="#">Account <i class="fas fa-angle-down"></i></a>
                    <ul>
                        <li><a href="login.html">Login Now</a></li>
                        <li><a href="register.html">Register New</a></li>
                        <?php if($user_id != ''){ ?>
                        <li><a href="update.html">Update Profile</a></li>
                        <li><a href="components/user_logout.html" onclick="return confirm('logout from this website?');">Logout</a>
                            <?php } ?>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>

</header>

<!-- header section ends -->